
/**** Variables: ****/
:root{
    /* root variables are available in the whole document.*/
    /* in this document the 'root' tag is the '<html>' tag.*/

    /* set the font-size to 62.5% to makes it easier to working with 'rem'.*/
    /* 62.5% font-size is equal to 10px and 1rem in most browsers*/
    font-size: 62.5%; /* 62.5% == 10px == 1rem */

    --my-theme-prime-color: #d35536;
    --my-theme-secondary-color: rgb(92, 92, 92);
    --my-theme-hover-color: #d33e36;
}
body{
    all: unset;
    background: black;
    color: antiquewhite;
    font-size: 1.25rem;
}

/* LANGUAGES: */
.c_is{
    display: inline;
}
.c_en{
    display: none;
}

/* STATES: */
.c_show-logout{
    display: none;
}
.c_show-login{
    display: none;
}
.c_auth-logged-out{
    display: none;
}
.c_auth-logged-in{
    display: none;
}
.c_show-cancel{
    display: none;
}

/* HEADER: */
header{
    position: relative;
    height: 8rem;
    width: 100%;
    padding-top: 1rem;
}
header button{
    position: absolute;
    background: var(--my-theme-prime-color);
    color: white;
    height: 80%;
    width: 6rem;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.8rem;
    border: none;
}
#id_svg-flag-is, #id_svg-flag-gb{
    border-radius: 0.8rem;
}
#id_svg-login-button, #id_svg-logout-button, #id_svg-back-button{
    width: 90%;
    margin-right: 10%;
    height: auto;
}
.c_left{
    left: 1rem;
}
.c_right{
    right: 1rem;
}

/* TITLE: */
.c_title{
    color: var(--my-theme-prime-color);
    text-align: center;
    font-size: 4rem;
}

/* MODALS: */
.c_modal{
    background: #333;
    width: 75%;
    max-width: 50rem;
    margin: 4rem auto;
    margin-bottom: 2.75rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.1rem 0.6rem rgba(255, 255, 255, 0.2);
}
.c_modal h2{
    color: var(--my-theme-prime-color);
    text-align: center;
    font-size: 2.25rem;
}
.c_input-field{
    width: 100%;
    border-radius: 0.6rem;
    margin: 1rem auto;
    box-shadow: 0rem 0.1rem 0.6rem rgba(255, 255, 255, 0.1);
}
.c_input-field:hover{
    box-shadow: 0rem 0.1rem 0.6rem rgba(255, 255, 255, 0.25);
    font-weight: 900;
}
.c_input-field label{
    display: block;
    padding: 0.6rem 1.5%;
}
.c_input-field input{
    display: block;
    background: var(--my-theme-secondary-color);
    color: white;
    width: 97%;
    border-radius: 0rem 0rem 0.6rem 0.6rem;
    padding: 0.6rem 1.5%;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
h2.c_error-text{
    font-size: 2rem;
    color: var(--my-theme-hover-color);
}
h2.c_success-text{
    font-size: 2rem;
    color: #49AA19;
}

/* BUTTONS: */
.c_modal button{
    display: block;
    background: var(--my-theme-prime-color);
    color: white;
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: none;
    border:none;
}
button:hover{
    background: var(--my-theme-hover-color);
}

/* CANCEL BUTTON: */
#id_cancel-button{
    width: 50%;
    max-width: 37.5rem;
    margin: 1rem auto;
    border-radius: 0.6rem;
}
#id_cancel-button button{
    background: var(--my-theme-secondary-color);
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 0rem 0.1rem 0.6rem rgba(255, 255, 255, 0.25);
    border:none;
}
#id_cancel-button:hover{
    box-shadow: 0rem 0.1rem 0.6rem rgba(255, 255, 255, 0.25);
}

/* LOADING BUTTON ANIMATION: */
.c_animation-loading-button{
    animation-name: loadingButton;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate /*<- The animation is played forwards first, then backwards.*/
}
@keyframes loadingButton{
    0% {
        background: var(--my-theme-hover-color);
        color: inherit;
        width: 75%;
    }
    33% {
        color: inherit;
    }
    67% {
        color: transparent;
    }
    100% {
        width: 0%;
        color: transparent;
        background: var(--my-theme-prime-color);
    }
}

/* LOADING MODAL & ANIMATION: */
.c_animation-loading-modal{
    background: linear-gradient(0.25turn, #33333333, #333333FF 45% 55%, #33333333);
    width: 75%;
    max-width: 50rem;
    margin: 4rem auto;
    height: 24rem;
    border-radius: 0.8rem;
}
.c_animation-loading-modal div{
    width: 100%;
    height: 100%;
    margin: 0rem auto;
    border-radius: inherit;
    animation-name: loadingModal;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate /*<- The animation is played forwards first, then backwards.*/
}
@keyframes loadingModal{
    0% {
        background: var(--my-theme-secondary-color);
        width: 10%;
        filter: blur(1rem);
        -webkit-filter: blur(1rem);
    }
    100% {
        background: #333;
        width: 100%;
        filter: blur(0.1rem);
        -webkit-filter: blur(0.1rem);
    }
}

/* FOOTER */
footer{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: #111;
    color: var(--my-theme-secondary-color);
    padding: 0.33rem 0.6rem 0.2rem 0.6rem;
    border-radius: 0.6rem;

}